body {
  font-family: 'Indie Flower', sans-serif;
  font-size: 20px;
  background-color: rgb(179, 63, 63);
  margin: 0px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* custom */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box {
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

h1 {
  margin: 0px;
}

.goldBox {
  background-color: rgb(222, 207, 123);
  padding: 10px;
}

.homepage-container {
  display: flex;
  justify-content: space-around;
}

.center-text {
  text-align: center;
  background-color: rgb(222, 207, 123);
  border-radius: 20px;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url('https://www.taylorguitars.com/sites/default/files/styles/hero_rotator/public/top-mahogany-feature-texture-2000.jpg?itok=IzyHQjqO');
  width: 500px;
  height: 500px;
  overflow: scroll;
  margin: auto 2%;
  border-radius: 20px;
}

.list-container-item {
  border: 1px rgb(179, 63, 63) solid;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/2e/Notecard.jpg');
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 250px;
  height: 250px;
  border-radius: 20px;
  transition: all 0.2s;
}

.list-container-item:hover {
  transform: translate(-3px, -3px);
}

li {
  list-style-type: none;
}

button {
  margin: 5px;
  padding: 14px 10px 10px 10px;
  max-height: 50px;
  background-color: rgb(206, 115, 115);
  border-radius: 28px;
  border: 1px solid black;
  cursor: pointer;
}

button:hover {
  background-color: rgb(235, 172, 172);
}
