body {
  font-family: sans-serif;
  background-color: rgb(179, 63, 63);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* custom */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.goldBox {
  background-color: rgb(222, 207, 123);
  padding: 10px;
  margin: 10px;
}

.homepage-container {
  display: flex;
  justify-content: space-around;
}

.greeting-header {
  text-align: center;
}

button {
  margin: 5px;
}

.promised {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  text-align: center;
  padding: 0px 24% 0px 24%;
}
